facebook_reels_post.json
{
  "name": "Instagram Reels Automation Workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "YOUR_GOOGLE_DRIVE_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "Video Upload Folder",
          "cachedResultUrl": "https://drive.google.com/drive/folders/YOUR_FOLDER_ID"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        -540
      ],
      "id": "google-drive-trigger-node",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        60,
        -540
      ],
      "id": "google-drive-download-node",
      "name": "Google Drive Download",
      "retryOnFail": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "O3-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "Write me a short, impactful motivational caption for Instagram. It should be exactly 3 lines:\n\nLine 1: A powerful hook or quote about hard work, growth, or consistency.\n\nLine 2: A follow-up line that adds emotion or context (like struggle or mindset).\n\nLine 3: A strong call to action or takeaway thought.\n\nEnd the caption with around 10 trending and relevant motivational hashtags that can go viral (like #Mindset, #Discipline, #RiseAndGrind)."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        260,
        -540
      ],
      "id": "openai-caption-generator",
      "name": "OpenAI Caption Generator",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list",
          "cachedResultName": "Content Database",
          "cachedResultUrl": "https://airtable.com/YOUR_BASE_ID"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_TABLE_ID",
          "mode": "list",
          "cachedResultName": "Media Table",
          "cachedResultUrl": "https://airtable.com/YOUR_BASE_ID/YOUR_TABLE_ID"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Caption": "={{ $json.message.content }}",
            "Name": "={{ $('Google Drive Trigger').item.json.name }}",
            "URL": "={{ $('Google Drive Trigger').item.json.webContentLink }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        620,
        -540
      ],
      "id": "airtable-content-saver",
      "name": "Content Database Saver",
      "retryOnFail": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "YOUR_INSTAGRAM_BUSINESS_ACCOUNT_ID",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "video_url",
                "value": "={{ $json.fields.URL }}"
              },
              {
                "name": "caption",
                "value": "={{ $('OpenAI Caption Generator').item.json.message.content }}"
              },
              {
                "name": "media_type",
                "value": "REELS"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        840,
        -540
      ],
      "id": "instagram-media-create",
      "name": "Instagram Media Create",
      "retryOnFail": true,
      "credentials": {
        "facebookGraphApi": {
          "id": "YOUR_FACEBOOK_GRAPH_API_CREDENTIAL_ID",
          "name": "Instagram Business API"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "YOUR_INSTAGRAM_BUSINESS_ACCOUNT_ID",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1240,
        -540
      ],
      "id": "instagram-media-publish",
      "name": "Instagram Media Publish",
      "retryOnFail": true,
      "credentials": {
        "facebookGraphApi": {
          "id": "YOUR_FACEBOOK_GRAPH_API_CREDENTIAL_ID_2",
          "name": "Instagram Business API"
        }
      }
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1020,
        -540
      ],
      "id": "wait-for-processing",
      "name": "Wait for Processing",
      "webhookId": "YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Download').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1460,
        -540
      ],
      "id": "google-drive-cleanup",
      "name": "Google Drive Cleanup",
      "retryOnFail": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Download": {
      "main": [
        [
          {
            "node": "OpenAI Caption Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Caption Generator": {
      "main": [
        [
          {
            "node": "Content Database Saver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Database Saver": {
      "main": [
        [
          {
            "node": "Instagram Media Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Media Create": {
      "main": [
        [
          {
            "node": "Wait for Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Media Publish": {
      "main": [
        [
          {
            "node": "Google Drive Cleanup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Processing": {
      "main": [
        [
          {
            "node": "Instagram Media Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "WORKFLOW_VERSION_ID",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "YOUR_N8N_INSTANCE_ID"
  },
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
}
